<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruangong.heritage.mapper.HeritageItemMapper">

    <!-- 分页查询非遗作品列表 -->
    <select id="selectPageWithConditions" resultType="com.ruangong.heritage.entity.HeritageItem">
        SELECT * FROM heritage_item
        <where>
            <if test="query.title != null and query.title != ''">
                AND title LIKE CONCAT('%', #{query.title}, '%')
            </if>
            <if test="query.category != null and query.category != ''">
                AND category = #{query.category}
            </if>
            <if test="query.region != null and query.region != ''">
                AND region = #{query.region}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
            <if test="query.creatorId != null and query.creatorId != ''">
                AND creator_id = #{query.creatorId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE(create_time) >= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE(create_time) &lt; #{query.endDate}
            </if>
        </where>
        <choose>
            <when test="query.orderBy != null and query.orderBy != ''">
                ORDER BY ${query.orderBy}
                <if test="query.orderDirection != null and query.orderDirection != ''">
                    ${query.orderDirection}
                </if>
            </when>
            <otherwise>
                ORDER BY create_time DESC
            </otherwise>
        </choose>
    </select>


    <!-- 根据关键词搜索作品 -->
    <select id="searchByKeyWord" resultType="com.ruangong.heritage.entity.HeritageItem">
        SELECT * FROM heritage_item
        WHERE status = 2
          AND (
            title LIKE CONCAT('%', #{keyword}, '%')
                OR summary LIKE CONCAT('%', #{keyword}, '%')
                OR description LIKE CONCAT('%', #{keyword}, '%')
                OR category LIKE CONCAT('%', #{keyword}, '%')
                OR region LIKE CONCAT('%', #{keyword}, '%')
            )
        ORDER BY create_time DESC
            LIMIT #{limit}
    </select>

</mapper>

